<div class="row">
    <div class="large-12 columns">

        <h4><i class="fa fa-clock-o"></i> Our History</h4>

        <div class="horizontalLine"></div>

        <h5>1980</h5>

        <p>Megafreight's history is traced back to Gordon’s Airfreight (Pty) Ltd that was founded by Gordon Pascoe in October 1980. It opened its doors for business on 2nd February 1981 in Kempton Park, close to Johannesburg International Airport, as a Customs Clearing Agent with a staff compliment of four people. Shareholders at the time were Pascoe (25%), S. Bacher & Co (Pty) Ltd (better known as Lanco Watch - 50%) and Friedland Stores (better known as Dion Stores - 25%).</p>

        <h5>1982</h5>

        <p>Company enters into an agreement with German based forwarder Richard Boas and Hong Kong based forwarder Baltrans in its first steps to offer international forwarding services to its customers.</p>

        <h5>1983</h5>

        <p>In line with expansion by Dion Stores, Megafreight Services (Pty) Ltd was registered on 9thDecember 1983 to handle ocean freight with Dions taking up 75% of the shares in the company. Mike Els joined the company on 15th December 1983 to head up the ocean freight division. Megafreight installs its first computer system.</p>

        <h5>1984</h5>

        <p>Gordon’s Airfreight (Pty) Ltd is merged with Megafreight and the company moves to larger premises. The company acquires Transpacific Shipping (Pty) Ltd while German based forwarder M&M Militzer & Munch is appointed as the first large international forwarder along with Marine Land Air Transport in Taiwan among a number of other independent forwarders around the globe.</p>

        <h5>1985</h5>

        <p>Following the by now infamous “Rubicon speech”, Dions experiences substantial exchange losses and in the process of disposing of its subsidiaries, Megafreight is sold to competitor, Oceanair, where it continues to trade separately under its own name.</p>

        <h5>1986</h5>

        <p>Oceanair sells to Safcor-Panalpina and in May 1986 Gordon Pascoe and Mike Els acquire 100% of Megafreight Services (Pty) Ltd and re-commence trading on 1st June 1986 in premises shared with a friendly competitor (Freightech) in the back of their small warehouse with a staff compliment of five. International partnerships are renewed.</p>

        <h5>1988</h5>

        <p>By now the company has moved into its own premises with a larger staff compliment and Megafreight develops its own in-house operations software called Megatrac operating on a small Unix 386 computer network. Rohek Warehousing buys a minority stake in the company.</p>

        <h5>1991</h5>

        <p>Branch opened in Durban and Megatrac software development outsourced to a specialist software house and re-written in INFORMIX. IBM Risc computer installed linking Durban branch while Compu-Clearing system utilised for customs entry processing. Gordon Pascoe & Mike Els re-acquire Rohek minority interest. Total staff compliment now just under 80 people.</p>

        <h5>1994</h5>

        <p>Branch opened in Cape Town headed by Wayne Lazo and Leon Delport with Jane Reinhardt playing an active management role. Marianne Schlosser joins the company at its Johannesburg branch which moves into larger premises in Isando. Total staff compliment reaches 120.</p>

        <h5>1995</h5>

        <p>Megafreight appoints SDV as its exclusive global partner.</p>

        <h5>1996</h5>

        <p>Branch opened in Pietermaritzburg and Durban branch moves into larger company-owned premises in Bay Terrace.</p>

        <h5>1998</h5>

        <p>Megafreight acquires 51% stake in Johannesburg based customs agent Freight Clearing & Consulting Services (Pty) Ltd headed by Hennie Enslin, Pieter Henning and Adriaan Mans. Branch opened in Bloemfontein. BDP International appointed new global partner.</p>

        <h5>2000</h5>

        <p>Freight Clearing & Consulting merged into Megafreight Services (Pty) Limited and Megafreight moves to new premises in Pomona, Kempton Park.</p>

        <h5>2001</h5>

        <p>Megafreight acquires 100% of JH Bachmann & Co (Pty) Ltd from Imperial Holdings who in turn acquires 60% in Megafreight. The trading name of the company is changed to Bachmann-Megafreight and JH Bachmann is appointed globally as its new exclusive partner. With the addition of JH Bachmann, Megafreight now has offices in Pretoria and Port Elizabeth. Staff compliment reaches 300 following the acquisition.</p>

        <h5>2003</h5>

        <p>JH Bachmann Johannesburg, Durban and Cape Town offices merged with Megafreight offices. The Johannesburg branch acquires new premises in Jet Park. Staff compliment settles around 230. Bloemfontein and Pietermaritzburg offices closed.</p>

        <h5>2004</h5>

        <p>JH Bachmann internationally is sold to DFDS and DFDS (DSV) in turn becomes Megafreight's new exclusive global partner. Company drops Bachmann from its name and reverts to trading as Megafreight.</p>

        <h5>2008</h5>

        <p>Staff compliment exceeds 240 and Durban branch moves to larger offices. DSV (formerly DFDS) opens it's own offices in South Africa and IJS Global appointed as new partners.</p>

        <h5>2012</h5>

        <p>Megafreight buys-back all Imperial shares and once again reverts to a privately owned independent company.</p>
    </div>
</div>