<div class="innerPageRedLine"></div>


<div class="row">
    <div class="large-12 columns">
        <h1 class="contentHeader">Legal</h1>
    </div>
</div>

<div class="row">
    <div class="large-8 columns">
        <h4>Registered Address</h4>
        <p><strong>Megafreight Services (Pty) Ltd</strong><br>
            <strong>Registration number:</strong> 1983/013526/07<br>
            <strong>FSP number:</strong> 17723<br>
            <strong>National Telephone No:</strong> +27 (0)861 006342
            25 Jones Road, Jet Park, Boksburg, 1459<br>
            <strong>Web:</strong> www.megafreight.co.za
            P.O.Box 3053, Kempton Park, 1620, South Africa</p>
        <h4>BEE Status</h4>
        <p>For a copy of our BEE certificate please contact your <a href="/company/contact-info/branches.html"><strong>local branch</strong></a> or company representative.</p>
        <h4>Downloads</h4>
        <a target="_blank" href="/assets/images/Standard_Terms_and_Conditions.pdf"><strong><i class="fa fa-download"></i> Terms and Conditions</strong></a>
    </div>
    <div class="large-4 columns">
        <img class="redRight" src="/assets/images/megafeight-jetpark-offices.jpg">
    </div>
</div>