<div class="innerPageRedLine"></div>


<div class="row">
    <div class="large-12 columns">
        <h1 class="contentHeader">Branches</h1>
    </div>
</div>

<div class="row">
    <div class="large-7 columns">
        <h5 class="blue">Johannesburg <small>Head Office</small></h5>

        <p>
            <strong class="red"><i class="fa fa-phone fa-fw"></i></strong> +27 (0)11 971 1000<br>
            <strong class="red"><i class="fa fa-envelope fa-fw"></i></strong> info@megafreight.co.za<br>
            <strong class="red"><i class="fa fa-map-marker fa-fw"></i></strong> 25 Jones Road, Jet Park, Johannesburg, 1469, South Africa.
        </p>
    </div>
    <div class="large-5 columns">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3581.1313312571256!2d28.22795099999999!3d-26.15985199999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9516a00b0e1265%3A0x67d8c1cc47cbcf1f!2s25+Jones+Rd%2C+Boksburg%2C+1459!5e0!3m2!1sen!2sza!4v1432813388056" width="100%" height="130" frameborder="0" style="border:0"></iframe>
    </div>
</div>

<div class="row">
    <div class="large-7 columns">
        <h5 class="blue">Durban</h5>
        <p>
            <strong class="red"><i class="fa fa-phone fa-fw"></i></strong> +27 (0)31 020 0275<br>
            <strong class="red"><i class="fa fa-envelope fa-fw"></i></strong> infodbn@megafreight.co.za<br>
            <strong class="red"><i class="fa fa-map-marker fa-fw"></i></strong>Office: First Floor, Block B, Surrey Office Park, 6 Barham Road, Westville, Durban 3629.<br>
            <strong class="red"><i class="fa fa-map-marker fa-fw"></i></strong>Warehouse: Unit C, 100 Richard Carte Road, Jacobs 4029, South Africa.
        </p>
    </div>
    <div class="large-5 columns">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3461.135736363503!2d30.95214246785304!3d-29.83150355477711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4ac43dc7d8de20da!2sSurrey+Park!5e0!3m2!1sen!2sza!4v1481090776700" width="100%" height="130" frameborder="0" style="border:0"></iframe>
    </div>
</div>

<div class="row">
    <div class="large-7 columns">
        <h5 class="blue">Cape Town</h5>
        <p>
            <strong class="red"><i class="fa fa-phone fa-fw"></i></strong> +27 (0)21 413 4300<br>
            <strong class="red"><i class="fa fa-envelope fa-fw"></i></strong> infocpt@megafreight.co.za<br>
            <strong class="red"><i class="fa fa-map-marker fa-fw"></i></strong> 6th Floor, Harbour Place, 7 Martin Hammerschlag Way, 8001, South Africa.
        </p>
    </div>
    <div class="large-5 columns">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.814077011562!2d18.433391399999994!3d-33.9201844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc5d894cfafca9%3A0x65c7322d44260324!2s7+Martin+Hammerschlag+Way%2C+Cape+Town+City+Centre%2C+Cape+Town%2C+8000!5e0!3m2!1sen!2sza!4v1432813933967" width="100%" height="130" frameborder="0" style="border:0"></iframe>
    </div>
</div>
<div class="row">
    <div class="large-7 columns">
        <h5 class="blue">Port Elizabeth</h5>
        <p>
            <strong class="red"><i class="fa fa-phone fa-fw"></i></strong> +27 (0)41 501 3600<br>
            <strong class="red"><i class="fa fa-envelope fa-fw"></i></strong> infoplz@megafreight.co.za<br>
            <strong class="red"><i class="fa fa-map-marker fa-fw"></i></strong> 7 Caravelle Street, Walmer Industrial Park Walmer, Port Elizabeth, 6070, South Africa.
        </p>
    </div>
    <div class="large-5 columns">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.374237621486!2d25.604649999999996!3d-33.98292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e7ad279ee427889%3A0xaf3fdc51678f790f!2s7+Caravelle+St%2C+Port+Elizabeth%2C+6011!5e0!3m2!1sen!2sza!4v1433326248854" width="100%" height="130" frameborder="0" style="border:0"></iframe>
    </div>
    <p>&nbsp;</p>
</div>
