<div class="innerPageRedLine"></div>

<div class="row">
    <div class="large-12 columns">

        {% for items in page.list %}
        <h1 class="editable">{{ items.list-heading }}</h1>
        <p class="editable">{{ items.list-text }}</p>

        <ul>
            <li class="editable">{{ items.list-content-1 }}</li>
            <li class="editable">{{ items.list-content-2 }}</li>
            <li class="editable">{{ items.list-content-3 }}</li>
            <li class="editable">{{ items.list-content-4 }}</li>
        </ul>
        {% endfor %}
    </div>
</div>


