<div class="innerPageRedLine"></div>

<div class="row">
    <div class="large-12 columns">
        <h1>Press Room</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3 class="editable">Verified Gross Mass (VGM) - SOLAS Regulations <small>1 year ago</small></h3>
        <p class="editable">Dear Customer,
        </p><p class="editable">As from July 1, 2016 the new <strong>SOLAS</strong> regulations come into effect; therefore the packed containers' <strong>VGM</strong> will be mandatory for all containers loaded for export out of South Africa.
    </p><p class="editable">The new regulation entails a change in existing procedures for all stakeholders involved across the shipping industry.
    </p><p class="editable">Please see the attached guidelines as published by <strong>Transnet </strong>as well as the South African Maritime Safety Authority for further guidelines to prepare for the new...
        <a href="/info-hub/press/press-8/view.html"><strong>Read More</strong></a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3 class="editable">Customs Roll 2016 - Customs Legislation Update <small>2 years ago</small></h3>
        <p class="editable">Good Day,
        </p><p class="editable">We have received the enclosed letter from the <strong>South Africa Revenue Services</strong> (SARS) with the following notice: Withdrawal of letter on respect of original Verification Questionnaire.
    </p><p class="editable">Download the original SARS letter below to read more. Please do not hesitate to contact us for any further information.
    </p><p><a href="/assets/docs/Withdrawal-of-letter.pdf" class="button">Download Original Document</a>
    </p>
        <a href="/info-hub/press/press-6/view.html"><strong>Read More</strong></a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3 class="editable">Legal Roll 2016 - Customs Legislation <small>2 years ago</small></h3>
        <p class="editable">Good Morning,
        </p><p class="editable">We have received the enclosed letter from the South Africa Revenue Services(Customs and Excise) which is self explanatory.
    </p><p class="editable">All exporters who are registered with Customs under the SADC or EUR1 certificate of origin system, will have to complete the enclosed "Origin Verification Questionnaire" for all the products exported by your company.
    </p><p class="editable">Enclosed you will also find extracts  from the rules relating to the Customs and Excise Act on the verification of the originating status of the goods exported. Please n...
        <a href="/info-hub/press/press-5/view.html"><strong>Read More</strong></a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3 class="editable">Our Durban Warehouse <small>2 years ago</small></h3>
        <p class="flex-video">

            <video controls="" width="500" height="281">
                <source src="../sitesucker.vimeocdn.com/154353037.mp4" type="video/mp4">
            </video>

        </p>
        <a href="/info-hub/press/press-4/view.html"><strong>Read More</strong></a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3 class="editable">Proposed Updates to Existing Customs Legislation <small>2 years ago</small></h3>
        <p class="editable"><em>By Aaron Larkens, Associate, Customs@Wylie, a division of the International Transport, Trade &amp; Energy Department.</em></p><p>The major talking point within the South African Customs environment was the recent promulgation of the <strong>Customs Control Act, 2014</strong> and <strong>Customs Duty Act, 2014 ("the Acts")</strong> by parliament. There remains a lot of work outstanding before the Acts can be fully implemented and <strong>SARS</strong> are currently conducting extensive work surrounding the drafting of the <strong>Rules to...
        <a href="/info-hub/press/press-3/view.html"><strong>Read More</strong></a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3 class="editable">Growth in its sights <small>2 years ago</small></h3>
        <p class="editable">After more than 30 years in the freight and logistics industry, Megafreight has renewed its focus on sales and service to support its growth targets in the new financial year, says Madelein Denicker, newly appointed branch manager in Johannesburg. “The strategy entails strengthening Megafreight’s niche market offering, and focusing on international partnerships and a door-to-door service,” said Denicker. “We have had great success in the valuable cargo market, wine from the Cape, commodities trading as well as warehousing and value-a...
            <a href="/info-hub/press/press-2/view.html"><strong>Read More</strong></a>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3 class="editable">Customs VAT Regulations <small>2 years ago</small></h3>
        <p class="editable">A number of changes continue to be made to VAT procedures, some relating to more than just proof of payment of VAT, such as ownership of the goods and the timing of invoicing of Customs VAT along with impending changes to the Customs Act all of which should be carefully noted.
        </p><p class="editable"><b>The latest legislative VAT timing rules </b>affect our South African import clients as it further limits the period when customs VAT falls due and when it may be claimed, summarised as follows;
    </p><ol><li>VAT is payable on the importation of tangible goo...
        <a href="/info-hub/press/press-1/view.html"><strong>Read More</strong></a>
    </div>
</div>