<!DOCTYPE html>
<html class="{{ site.site-text-direction }}" lang="en">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.meta_description }}" />
    <meta name="keywords" content="{{ page.key-words }}">

    <!-- OG meta data -->
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:image" content="{{site.social-image }}"/>
    <meta property="og:site_name" content="{{ site.brand }} | {{ site.website-type }}"/>
    <meta property="og:description" content="{{ page.meta_description}}"/>

    <meta property="og:type" content="{{ site.og-type }}"/>
    <meta property="og:url" content="{{ page.url }}"/>
    <meta property="og:audio" content="{{ page.og-audio }}"/>
    <meta property="og:locale" content="en-gb"/>

    <meta property="og:locale:alternate" content="en-us"/>
    <meta property="og:video" content="{{ page.og-video }}"/>
    <meta property="xpm-enabled" content="false"/>

    <!-- Twitter cards -->
    <meta name=”twitter:card” content=”{{ page.tw-summary }}” />
    <meta name=”twitter:title” content=”{{ site.brand }} | {{ page.title }}” />
    <meta name=”twitter:description” content=”{{ page.meta_description}}” />
    <meta name=”twitter:url” content=”{{ page.url }}” />
    <meta name=”twitter:image” content=”{{ site.social-image }}” />

    <meta name="author" content="{{ page.author }}" />
    <meta name="page updated" content="" />
    {% comment %} fonts & stylesheets get imported at this point via the /_layouts pages {% endcomment %}



