<div class="mainHeader">
    <div class="row">
        <div class="large-2 medium-2 small-12 columns">
            <a class="" href="/index.html"><img class="logo" src="/assets/images/logo.png" alt="Megafreight logo"></a>
        </div>
        <div class="large-10 medium-10 columns">
            <p class="text-right callMegafreight wow pulse" data-wow-delay=".5s">
                +27 (0)11 971 1000 <span class="red">|</span>
                <a data-reveal-id="contactUs" href="#">enquiries</a> <span class="red">|</span> <a href="/auth/login.html">login</a> <span class="red">|</span> <a target="_blank" href="https://www.facebook.com/pages/Megafreight/1389153898061007?ref=hl"><i class="fa fa-facebook-square facebookHeader"></i></a> <a target="_blank" href="https://za.linkedin.com/company/megafreight-services"><i class="fa fa-linkedin-square facebookHeader"></i></a></p>
            <nav class="top-bar" data-topbar role="navigation">
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="#"></a></h1>
                    </li>
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>

                <section class="top-bar-section">
                    <!-- Right Nav Section -->
                    <ul class="right">
                        <li><a href="/index.html"><i class="fa fa-home"></i></a></li>
                        <li class="has-dropdown">
                            <a href="/index.html">company</a>
                            <ul class="dropdown">
                                <li><a href="/company/history.html">history</a></li>
                                <li class="divider"></li>
                                <li><a href="/company/legal.html">legal</a></li>
                                <li class="divider"></li>
                                <li><a href="/company/csi.html">csi</a></li>
                                <li class="divider" role="separator"></li>
                                <li><a href="/company/memberships.html">memberships</a></li>
                                <li class="divider"></li>
                                <li><a href="/company/brochures-downloads.html">brochures & downloads</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="/index.html">services</a>
                            <ul class="dropdown">
                                <li><a href="/services/freight/air.html">air freight</a></li>
                                <li><a href="/services/freight/ocean.html">ocean freight</a></li>
                                <li><a href="/services/freight/road.html">road freight</a></li>
                                <li><a href="/services/customs/brokerage.html">customs brokerage</a></li>
                                <li><a href="/services/warehousing.html">warehousing</a></li>
                                <li><a href="/services/project-management.html">project management</a></li>
                                <li><a href="/services/insurance/marine.html">marine insurance</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="/index.html">info hub</a>
                            <ul class="dropdown">
                                <li><a href="/info-hub/press.html">press office</a></li>
                                <li><a href="study.html">International Shipping Environmental Case Study</a></li>
                                <!--
                                <li><a href="#">tips & advice</a></li>
                                <li><a href="#">frequently asked questions</a></li>
                                <li><a href="#">testimonials</a></li>

                                -->
                            </ul>
                        </li>
                        <li><a href="/auth/login.html">client zone</a></li>
                        <li><a href="/company/contact-info/branches.html">branches</a></li>
                    </ul>

                    <!-- Left Nav Section -->
                    <ul class="left">

                    </ul>
                </section>
            </nav>        </div>
    </div>
</div>