<div>
    <div class="slider-front">
        <div>
            <img src="/assets/images/slider/Mega_Language.jpg" alt="megafreight speaks your language">
        </div>
        <div>
            <img src="/assets/images/slider/slide1.jpg" alt="megafreight welcome">
        </div>
        <div>
            <img src="/assets/images/slider/megafreight-global-reach.jpg" alt="megafreight global reach">
        </div>
        <div>
            <img src="/assets/images/slider/megafreight-horizons-feature.jpg" alt="megafreight horizons">
        </div>
    </div>
</div>