<div class="footer">
    <div class="row">
        <div class="large-3 columns">
            <h4>Johannesburg</h4>
            <div class="horizontalLine"></div>
            <p>
                <strong class="red"><i class="fa fa-phone fa-fw"></i></strong> +27 (0)11 971 1000<br>
                <strong class="red"><i class="fa fa-envelope fa-fw"></i></strong> info@megafreight.co.za<br>
                <strong class="red"><i class="fa fa-map-marker fa-fw"></i></strong> 25 Jones Road, Jet Park, Johannesburg, 1469, South Africa.
            </p>
        </div>
        <div class="large-3 columns">
            <h4>Durban</h4>
            <div class="horizontalLine"></div>
            <p>
                <strong class="red"><i class="fa fa-phone fa-fw"></i></strong> +27 (0)31 020 0275<br>
                <strong class="red"><i class="fa fa-envelope fa-fw"></i></strong> infodbn@megafreight.co.za<br>
                <strong class="red"><i class="fa fa-map-marker fa-fw"></i></strong> First Floor, Block B, Surrey Office Park, 6 Barham Road, Westville, Durban 3629, South Africa.

            </p>
        </div>
        <div class="large-3 columns">
            <h4>Cape Town</h4>
            <div class="horizontalLine"></div>
            <p>
                <strong class="red"><i class="fa fa-phone fa-fw"></i></strong> +27 (0)21 413 4300<br>
                <strong class="red"><i class="fa fa-envelope fa-fw"></i></strong> infocpt@megafreight.co.za<br>
                <strong class="red"><i class="fa fa-map-marker fa-fw"></i></strong> 6th Floor, Harbour Place, 7 Martin, Hammerschlag Way, 8001, South Africa.
            </p>
        </div>
        <div class="large-3 columns">
            <h4>Port Elizabeth</h4>
            <div class="horizontalLine"></div>
            <p>
                <strong class="red"><i class="fa fa-phone fa-fw"></i></strong> +27 (0)41 501 3600<br>
                <strong class="red"><i class="fa fa-envelope fa-fw"></i></strong> infoplz@megafreight.co.za<br>
                <strong class="red"><i class="fa fa-map-marker fa-fw"></i></strong> 7 Caravelle Street, Walmer, Port Elizabeth, 6070, South Africa.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="large-12 text-center columns">
            <p class="copyright">Copyright Megafreight Services (Pty) Ltd © | <a target="_blank" href="/assets/images/Standard_Terms_and_Conditions.pdf"><strong>Terms and Conditions</strong></a> | by <a target="_blank" href="http://billow.co.za"><strong>Billow</strong></a></p>
        </div>
    </div>

</div>