<div class="innerPageRedLine"></div>

<div class="row">
    <div class="large-12 columns">
        <h1>Brochures and Downloads</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <ul class="large-block-grid-3 text-center">
            <li>
                <div class="iconHolder">
                    <a target="_blank" href="http://brochure.megafreight.co.za"><i class="fa fa-eye"></i>
                        <p>View Online</p></a>
                </div>
            </li>
            <li>
                <div class="iconHolder">
                    <a target="_blank" href="/assets/images/Megafreight_Company_Profile.pdf"><i class="fa fa-download"></i>
                        <p>Download Brochure</p></a>
                </div>
            </li>
            <li>
                <div class="iconHolder">
                    <a target="_blank" href="/assets/images/Standard_Terms_and_Conditions_June_2015.pdf"><i class="fa fa-download"></i>
                        <p>Terms and Conditions</p></a>
                </div>
            </li>
        </ul>
    </div>
</div>
