<div class="redBar">
    <div class="row">
        <div class="large-12 large-centered columns">
            <ul class="large-block-grid-4 medium-block-grid-2  text-center servicesIcons">
                <li>
                    <a href="/services/freight/ocean.html"><img src="/assets/images/icons/megafreight-sea.png"></a>
                </li>
                <li>
                    <a href="/services/freight/air.html"><img src="/assets/images/icons/megafreight-air.png"></a>
                </li>
                <li>
                    <a href="/services/customs/brokerage.html"><img src="/assets/images/icons/megafreight-customs-clearing.png"></a>
                </li>
                <li>
                    <a href="/services/freight/road.html"><img src="/assets/images/icons/megafreight-road-freight.png"></a>
                </li>
            </ul>
        </div>
    </div>
</div>