<div class="whiteBar">
    <div class="row">
        <div class="large-7 medium-7 columns">
            <h3 class="editable">Global Footprint</h3>
            <p class="editable">South Africa is not just another global footprint for us. It's where we call home. Our shareholders and directors are actively involved in the day to day business of Megafreight in South Africa. The owners and decision makers of our business are only a phone call away, fast decision making people who care about you in South Africa. Megafreight covers the globe with trusted partners to look after the prime focus of our business...</p>

            <p class="editable">You the Customer!</p>
        </div>
        <div class="large-5 medium-5 columns">
            <img class="wow fadeInRight editable" data-wow-delay=".3s" src="/assets/images/megafreight-global.jpg" alt="Megafreight Global Reach">
        </div>
    </div>
</div>

<div class="greyBar">
    <div class="row">
        <div class="large-5 medium-5 columns">
            <img class="wow fadeInRight editable" data-wow-delay=".3s" src="/assets/images/airplane.jpg" alt="air freight">
        </div>
        <div class="large-7 medium-7 columns">
            <h3 class="text-right editable">Air Freight</h3>
            <p class="editable">We offer competitive consolidation services from various hubs we operate around the globe to and from South Africa and we have our own secure off airport bonded handling facility at our Johannesburg branch. Our other services also include express and hazardous cargo together with specialist shipping of pharmaceuticals and other temperature controlled shipments and air charters and project cargo...</p>
            <a href="/services/freight/air.html" class="button">Read More</a>
        </div>
    </div>
</div>

<div class="whiteBar">
    <div class="row">
        <div class="large-7 medium-7 columns">
            <h3 class="editable">Sea Freight</h3>
            <p class="editable">Megafreight offers a full range of FCL and LCL groupage services both to and from South Africa as well as cross trade shipments. Our hands on "service you can touch" philosophy ensures your consignments are managed by dedicated people who take ownership for the smooth flow and management of your goods whilst in transit.</p>
            <a href="/services/freight/ocean.html" class="button">Read More</a>
        </div>
        <div class="large-5 medium-5 columns">
            <img class="wow fadeInRight editable" data-wow-delay=".3s" src="/assets/images/shipfreight.jpg" alt="sea freight">
        </div>
    </div>
</div>

<div class="whiteBar">
    <div class="row">
        <div class="large-5 medium-5 columns">
            <img class="wow fadeInRight redLeft editable" data-wow-delay=".3s" src="/assets/images/marine-insurance.jpg" alt="Megafright Marine Insurance">
        </div>
        <div class="large-7 medium-7 columns">
            <h3 class="text-right editable">Marine Insurance</h3>
            <p class="editable">Megafreight is a registered provider of marine insurance (FSP No.17723) where we offer peace of mind cover to suit most requirements under our own marine policy re-insured through reputable companies such as Llloyds of London. The service is supported by many of our clients meaning we have remarkable bulk buying power and flexibility. Premiums are charged at shipment level allowing for all-inclusive...</p>
            <a href="/services/insurance/marine.html" class="button">Read More</a>
        </div>
    </div>
</div>

